In [3]:
print("Hello, world!")

Hello, world!

In [ ]:
## Data types 
print("Hello, world!)

In [4]:
# string is either double quotes or single quotes 

test="hello"

In [5]:
print(test)

hello

In [6]:
type(test)

str

In [7]:
#numeric types come in two formes 
#integers and floats 

#integer
number = 10

#float
floaty = 5.4

In [8]:
number + floaty

15.4

In [9]:
test + number

TypeError: can only concatenate str (not "int") to str

In [10]:
test + test

'hellohello'

In [11]:
### Operators

In [12]:
100 - 40

60

In [13]:
36 / 6

6.0

In [14]:
6 * 10

60

In [15]:
7 ** 7

823543

In [16]:
15 //4

3

In [17]:
15 % 2

1

In [18]:
# concatenation with strings 

'foo' + 'bar'

'foobar'

In [19]:
'foo' - 'bar'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [20]:
'foo' * 10

'foofoofoofoofoofoofoofoofoofoo'

# Python collections

In [3]:
#list 

my_list = [1, '2', 3.2]

In [4]:
print(my_list)

[1, '2', 3.2]

In [5]:
print(my_list[0])

1

In [6]:
#subset all items but the first item 
print(my_list[1:])

['2', 3.2]

In [7]:
print(my_list[-1])

3.2

In [8]:
# dictionaries 
my_dict = {'one' : 1, 'two' : 2, 'three' : 3}

In [9]:
print(my_dict[0])

KeyError: 0

In [11]:
print(my_dict['one'])

1